{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .note {
            border: 2px solid;
            padding: 3px 14px;
            position: relative;
            z-index: 1;
        }
        .close_notify {
            border: 2px solid;
            position: absolute;
            padding: 3px 8px;
            top: 2px;
            right: 3px;
            display: block;
            z-index: 120;
            
        }
        .close_notify:hover {
            cursor: pointer;
            background:#fe4c50;
            transition: all 0.5s;
        }
    </style>
{% endblock %}
{% block body %}


<div class="container" style="min-height:450px;margin-top:200px;">
    <div class="col-md-12">
        {# Message de notification #}
            {% for message in app.flashes('notice') %}
                <div class="panel panel-default note notification">
                    <div class="close_notify">x</div>
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{ message }}</h3>
                    </div>
                </div>
            {% endfor %}
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>numéro de la commande</th>
                    <th>Nombres de commande</th>
                    <th>Etat </th>
                    <th>Date de commande</th>
                    <th>Nom du client</th>
                    <th>Prénom du client</th>
                </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td> <a href="{{ path('commande_detail',{'id':commande.id}) }}" >{{ commande.numerocommande }}</a> </td>
                    <td>{{ commande.quantite }}</td>
                    <td>
                        {% if commande.etat == 2 %} 
                            <span class="badge badge-success">Fini</span> 
                        {% else  %}
                            <span class="badge badge-primary">En cours de traitement</span> 
                        {% endif %}
                    </td>
                    <td>{{ commande.createdAt | date('Y-m-d') }}</td>
                    <td>{{ commande.user.userinfos.name }}</td>
                    <td>{{ commande.user.userinfos.prename }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        setTimeout(function(){
            $('.notification').remove();
        },5000);

        $(document).on('click','.close_notify',function() {
            $(this).parent().remove();
        })
    </script>
{% endblock %}